/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Imports  -----  */

/*   ----- Global  -----  */
:root
{
    --custom-color-name:;
    --custom-embellishment-name:;
}

html {}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body    /* Can alternatively define in html {} or :root {} */
{
    background-color: rgb(80, 80, 90);
    color: rgb(223, 205, 250);
    font-family: Arial, sans-serif;
}

/* ----- Anchors ----- Text links */
a
{
    font-family: Arial, sans-serif;
}

a:link
{
    font-size: 16px;
    text-decoration: none; 
}

a:hover
{
    color: rgb(126, 120, 245);
}

a:active {}

a:visited {}

/*  ----- Page layout blocks -----  */
header {}

main
{
    background-color: rgb(32, 22, 78);
    border: 1px solid black;
    margin: auto;
    margin-bottom: 100px;
    width: 1400px;
}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav
{
    background-color: rgb(32, 22, 78);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: auto;
    margin-bottom: 50px;
    width: 1000px;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

section {}
  article {}
    #topic1 {}
    #topic2 {}
    #gallery1 {}
    #gallery2 {}
div {}
aside {}
footer {}

/*  -----  Typography  ----- */
p 
{
    font-size: 15px;
    line-height: 19px;
}

br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/

h1
{
    color: rgb(80, 200, 120);
    font-size: 30px;
    font-weight: bold;
}

h2
{
    color: rgb(220, 20, 60);
    font-size: 24px;
    font-weight: bold;
}

h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}

strong
{
    color: rgb(126, 120, 245);
    font-weight: bold;
}

sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {}

table tr *
{
    vertical-align: middle;
}
caption {}
thead {}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {}

th
{
    font-size: 13px;
    padding: 0px;
    text-align: center;
}

td
{
    font-size: 13px;
    padding: 0px;
    text-align: center;
}

  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {}
fieldset {}
  legend {}

label
{
    font-size: 15px;
}

button {}

input
{
    background-color: rgb(15, 15, 15);
    border: none;
    color: rgb(223, 205, 250);
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

input[type=text]:focus
{
    outline: 1px green solid;
}


output
{
    font-size: 15px;
}
  meter {}
  progress {}
  select {}
    optgroup {}
    option {}
  textarea {}

/* ----- Media ----- */
figure {}
  figcaption {}
img {}
svg {}
picture {}
  source {}
iframe {
}
video {}
audio {}
embed {}
object {}


/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

.cl_button_black
{
    background-color: rgb(15, 15, 15);
    border: solid 1px black;
    color: rgb(223, 205, 250);
    font-size: 14px;
    font-family: Arial, sans-serif;
    /* Top/Bottom Left/Right */
    padding: 2px 6px;
}

.cl_button_black:active
{
    border-color: rgb(223, 205, 250);
}

.cl_div_content_pane_general_w_1250
{
    background-color: rgb(45, 31, 107);
    border: solid 1px black;
    overflow-y: auto;
    padding: 13px;
    white-space: nowrap;
    width: 1250px;
}

.cl_div_content_pane_general_w_1250 h2
{
    margin-bottom: 30px;
}

.cl_heading_w_650
{
    background-color: rgb(45, 31, 107);
    border: solid 1px black;
    padding: 8px;
    text-align: center;
    width: 650px;
}

/* A rule for the general <a> element cannot be done because the rule would apply to both image anchors and text
   anchors. This rule is meant to apply to text anchors. */
.cl_nav_main_text_href
{
    color: rgb(223, 205, 250);
    border-right: 1px solid black;
    padding-bottom: 4px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 4px;
    
}

#id_anchor_excel_download img
{
    margin-bottom: 5px;
    margin-left: 100px;
    margin-top: 80px;
    max-width: 60px;
}

#id_anchor_excel_download p
{
    color: rgb(126, 120, 245);
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 90px;
}

#id_form_calculator_control_panel
{
    align-items: center;
    color: rgb(126, 120, 245);
    display: grid;
    font-weight: bold;
    float: left;
    grid-template-columns: auto 70px auto;
    line-height: 21px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: right;
}

#id_form_calculator_control_panel input
{
    line-height: 20px;
    padding: 0px;
}

/* <label> for "id_input_effective_tax_rate" */ 
#id_form_calculator_control_panel :nth-child(1)
{
    grid-column: 1 / span 1;
    grid-row: 1;
}

/* <input> "id_input_effective_tax_rate" */
#id_form_calculator_control_panel :nth-child(2)
{
    grid-column: 2 / span 1;
    grid-row: 1;
    margin-left: 15px;
}

/* <label> for "id_input_terminal_growth_rate" */
#id_form_calculator_control_panel :nth-child(3)
{
    grid-column: 1 / span 1;
    grid-row: 2;
}

/* <input> "id_input_terminal_growth_rate" */
#id_form_calculator_control_panel :nth-child(4)
{
    grid-column: 2 / span 1;
    grid-row: 2;
    margin-left: 15px;
}

/* <label> for "id_input_equity_capital_opportunity_cost" */
#id_form_calculator_control_panel :nth-child(5)
{
    grid-column: 1 / span 1;
    grid-row: 3;
}

/* <input> "id_input_equity_capital_opportunity_cost" */
#id_form_calculator_control_panel :nth-child(6)
{
    grid-column: 2 / span 1;
    grid-row: 3;
    margin-left: 15px;
}

/* <label> for "id_input_annual_augmented_payout_ratio" */
#id_form_calculator_control_panel :nth-child(7)
{
    grid-column: 1 / span 1;
    grid-row: 4;
    margin-bottom: 10px;
}

/* <input> "id_input_annual_augmented_payout_ratio" */
#id_form_calculator_control_panel :nth-child(8)
{
    grid-column: 2 / span 1;
    grid-row: 4;
    margin-left: 15px;
    margin-bottom:10px;
}

/* <p> with text "Predicted Stock Price:"
   The line-height attribute does not appear to be necessary. However, I set it to 21 to match other cells in the
   control panel grid. */
#id_form_calculator_control_panel :nth-child(9)
{
    grid-column: 1 / span 1;
    grid-row: 5;
    line-height: 21px;
}

/* <output> with predicted stock price text */
#id_form_calculator_control_panel :nth-child(10)
{
    grid-column: 2 / span 1;
    grid-row: 5;
    margin-left: 17px;
    text-align: left;
    width: 200px;
}

/* <div> "id_fieldset_calculator_control_panel_buttons" */
#id_form_calculator_control_panel :nth-child(11)
{
    grid-column: 3 / span 1;
    grid-row: 5;
    margin-left: 480px;
    margin-top: 10px;
}

#id_form_calculator_control_panel output
{
    color: rgb(223, 205, 250);
    margin-right: 22px;
}

#id_form_calculator_control_panel_button_row {}

#id_form_calculator_control_panel_button_row button:nth-of-type(1)
{
    margin-right: 10px;
}

#id_form_calculator_control_panel input
{
    width: 40px;
}

#id_img_banner
{
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
}

#id_input_slider
{
    accent-color: rgb(126, 120, 245);
    background-color: rgb(45, 31, 107);
    border: 1px solid rgb(126, 120, 245);;
    display: block;
    height: 8px;
    margin-bottom: 20px;
    margin-left: 1022px;
   -webkit-appearance: none;
    width: 156px;
}

/* For Chrome/Safari/Edge browsers. Width and height values are different than the Firefox version to make the slider
   thumb appear the same size. The values were "eyeballed" to make thumb look the same across browsers.*/
#id_input_slider::-webkit-slider-thumb
{
    appearance: none;
    background: rgb(20, 20, 20);
    border: 1px solid rgb(126, 120, 245);
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    -webkit-appearance: none;
    width: 12px;
}

/* For Firefox browser. The width and height do not match the non-Firefox version. This is because the non-Firefox 
   version had to be adjusted to look the same as the Firefox version.*/
#id_input_slider::-moz-range-thumb
{
    background: rgb(20, 20, 20);
    border: 1px solid rgb(126, 120, 245);
    cursor: pointer;
    height: 28px;
    width: 10px;
}

/* 61 px comes from the fact that the cl_div_content_pane_general_w1250 takes up 1278px of space. It is inside a 1400 px
   container. To align the cl_heading_w_650 container to the cl_div_content_pane_general_w1250, it must have a
   margin-left of 61 px = (1400 px - 1278 px) / 2 px. */
#id_section_calculators > .cl_heading_w_650
{
    margin-bottom: 40px;
    margin-left: 61px;
    margin-top: 20px;
}

#id_section_calculators > .cl_div_content_pane_general_w_1250
{
    margin: auto;
    margin-bottom: 40px;
}

#id_section_calculators > .cl_div_content_pane_general_w_1250:nth-of-type(2)
{
    margin-bottom: 60px;
}

/* white-space is set to normal. This is because the cl_div_content_pane_general_w_1250 sets the white-space to
   nowrap and gets inherited by the table. The intended behavior is white-space set to normal. table-layout: fixed
   is another important setting. It allows the spacing between cells to occur. See comment on the rule called
   "#id_table_calculator_table td" for more information. */
#id_table_calculator_table
{
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 70px;
    table-layout: fixed;
    white-space: normal;
}

/* Sets the border and minimum width of the leftmost column. */
#id_table_calculator_table colgroup col:nth-of-type(1)
{
    border-right: 2px black solid;
    width: 200px;
}

#id_table_calculator_table input
{
    line-height: 20px;
    padding: 0px;
    width: 77px;
}

/* The <td> elements are set to just larger than <input> elements that it may contain. This creates an outside border
   around <input> elements in the table. The table must have table-layout: fixed set on "id_table_calcualtor_table" for
   this technique to work. This is the best way found to create spacing throughout the table. */
#id_table_calculator_table td
{
    border: none;
    height: 21px;
    width: 78px;
}

/* Applies styling to the <th> elements in the first row to increase font size, display bottom border, and increase
   first row height slightly. */
#id_table_calculator_table th
{
    border-bottom: 2px black solid;
    font-size: 15px;
    height: 45px;
    max-width: 78px;
}

/* Applies styling to the cells in the leftmost column. These properties cannot be set in the rule called
  "#id_table_calculator_table colgroup col:nth-of-type(1)". */
#id_table_calculator_table tr td:nth-of-type(1)
{
    color: rgb(126, 120, 245);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}